@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Yantramanav&display=swap');
/* font-family: 'Yantramanav', sans-serif;*/

@media screen and (min-width:1121px){
  
  

  
/* common start */
  main{
    line-height: 1.7em;
    overflow: hidden;
  }

  #career-consulting h1{
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1em;
  }
  #career-consulting h1 span{
    font-size: 2rem;
  }
  #career-consulting h2{
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5em;
    text-align: center;
    color: #fff;
    background-color: #53c6b4/* 9dded4 元の色 */;
    padding: 0.4em 0;
  }
  #career-consulting h3{
    width: 60%;
    min-width: 747px;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5em;
    text-align: left;
    margin: 0 auto;
    border-bottom: solid 3px #C5EBE5;
    position: relative;
    text-indent: 0.5em;
  }
  #career-consulting h3::after{
    content: " ";
    display: block;
    position: absolute;
    border-bottom: solid 3px #53c6b4;
    bottom: -3px;
    width: calc(30% + 0.5em);
  }
  
  .font-bold{
    font-weight: 600;
  }
  .font-red{
    color: #f00;
  }
}

@media screen and (max-width:410px){
  .cancel-br-410px{
    display: none;
  }
}
@media screen and (max-width:450px){
  .cancel-br-450px{
    display: none;
  }
}
@media screen and (max-width:540px){
  .cancel-br-540px{
    display: none;
  }
}
@media screen and (max-width:570px){
  .cancel-br-570px{
    display: none;
  }
}
@media screen and (max-width: 600px){
  .cancel-br-600px{
    display: none;
  }
}
/* common end */

/* header start */
@media screen and (min-width:1121px){
  header{
    background: #fff;
    -webkit-box-shadow: 0 1px 5px 0 #ebebeb;
            box-shadow: 0 1px 5px 0 #ebebeb;
  }
/* header end */

/* main-visual start */
  #main-visual{
    width: 100%;
    height: 45vw;
    padding-top: 100px;
    position: relative;
    overflow: hidden;
    min-height: 300px;
  }
  #main-visual #main-photo{
    position: relative;
    z-index: -1;
  }
  #main-visual #main-photo img{
    width: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  #container-main-visual{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    padding-top: 10%;
  }
  #container-main-visual h1{
    color: #fff;
    text-shadow: 1px 1px 3px #000;
  }
  #container-main-visual p{
    position: absolute;
    font-size: 1.5rem;
    bottom: 10%;
    right: 0;
    color: #fff;
    line-height: 1.57em;
    padding: 0.5em;
  }
  #container-main-visual p::before{
    content: "";
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
/* main-visual end */

/* breadcrumbs start */
  #breadcrumbs{
    width: 1080px;
    margin: 0 auto;
    padding-top: 30px;
  }
  #breadcrumbs ul{
    overflow: hidden;
  }
  #breadcrumbs ul li{
    float: left;
    margin-right: 0.5em;
    line-height: 1.5em;
  }
  #breadcrumbs ul li:nth-of-type(2)::before{
    content: "＞";
    margin-right: 0.5em;
  }
  #breadcrumbs ul li:nth-of-type(3)::before{
    content: "＞";
    margin-right: 0.5em;
  }
/* breadcrumbs end */

/* theme-career-consulting start */
  #theme-career-consulting{
    clear: both;
    margin: 0 auto;
    padding-top: 60px;
    text-align: center;
    font-size: 2.25rem;
    display: block;
    width: 1120px;
    font-weight: 500;
    line-height: 1.5em;
  }
}

@media screen and (max-width: 500px){
  #theme-career-consulting br{
    display: none;
  }
}
/* theme-career-consulting end */

/* content start */
@media screen and (min-width:1121px){
  #content-career-consulting{
    width: 100%;
    padding-top: 60px;
  }
/* content end */

/* section intro career consulting start */
  #intro-career-consulting{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  #difference-with-stereotype{
    max-width: 650px;
    margin: 0 auto;
    padding-top: 50px;
  }
  #difference-with-stereotype p{
    text-align: center;
    padding-bottom: 0.7em;
    line-height: 2em;
  }
  /* table start*/
  #intro-difference-table{
    border-collapse: collapse;
    margin: 30px auto 0;
    width: 65%;
    min-width: 45em;
    max-width: 1080px;
    table-layout: fixed;
  }
  #intro-difference-table thead tr{
    background-color: #53c6b4;
    color: #fff;
    height: 3em;
  }
  #intro-difference-table tbody th, td{
    padding: 0.5em 1em;
    border: 2px solid #53c6b4;
    vertical-align: middle;
  }
  #intro-difference-table thead th{
    border: 2px solid #53c6b4;
    border-bottom-color: #53c6b4;
    padding: 0.5em;
    vertical-align: middle;
  }
  #intro-difference-table thead th:nth-of-type(1){
    width: 13em;
    background-color: #fff;
    border: none;
  }
  #intro-difference-table thead th:nth-of-type(n+2){
    width: calc((100% - 13em) / 2);
    min-width: 16em;
    border-color: #fff;
    border-bottom-color: #53c6b4;
  }
  #intro-difference-table tbody th{
    background-color: #C5EBE5;
  }
  #intro-difference-table tbody th:nth-of-type(1){
    width: 13em;
  }
  #intro-difference-table tbody td{
    width: calc((100% - 13em) / 2);
    min-width: 16em;
  }
  #intro-difference-table tbody td ul li{
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1em;
  }
  #intro-difference-table tbody tr:nth-of-type(4) td{
    background-color: #FFFFDC;
  }
  #intro-difference-table tbody tr:nth-of-type(4) td li{
    margin-left: 1em;
    list-style-type: none;
  }
  #intro-difference-table tbody tr:nth-of-type(4) td li::before{
    content: "★";
    margin: 0 0.3em 0 -1.3em;
  }
  /* table end*/
  #intro-career-consulting #intro-conclusion1{
    text-align: center;
    margin: 40px auto 0;
    font-size: 1.25em;
    max-width: 1080px;
  }
  #intro-career-consulting #intro-conclusion2{
    margin: 40px auto 0;
    width: 60%;
    max-width: 1080px;
  }
  #intro-career-consulting #intro-conclusion2 p{
    margin: 0.5em auto;
  }
/* section intro career consulting end */

/* section policy and flow start */
  #policy-n-flow{
    padding-top: 50px;
  }
  #career-steps-intro{
    margin: 40px auto 0;
    text-align: center;
  }
  #career-steps-policy{
    margin: 40px auto 0;
    width: 60%;
    min-width: 747px;
    max-width: 1080px;
    list-style: none;
  }
  #career-steps-policy li{
    padding: 0 0 3em;
  }
  #career-steps-policy li dl{
    padding: 1em 0.5em;
    text-align: center;
    background-color: #C5EBE5;
    position: relative;
  }
  #career-steps-policy li:not(.except) dl::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-top: 39px solid #C5EBE5;
  }
  #career-steps-policy li dt{
    padding: 0 0 1em;
    font-size: 1.125rem;
  }
  #career-steps-policy li dt::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 2.5em;
    height: 2.5em;
    background-size: contain;
    background-repeat: no-repeat;
  }
  #career-steps-policy li:nth-of-type(1) dt::before{
    background-image: url(../img/contents/icon-lightbulb-black.png);
  }
  #career-steps-policy li:nth-of-type(2) dt::before{
    background-image: url(../img/contents/icon-flag-black.png);
  }
  #career-steps-policy li:nth-of-type(3) dt::before{
    background-image: url(../img/contents/icon-walking-black.png);
  }
/* section policy and flow end */
  
/* section pros-career-consulting start */
/* section three-pros start */
  #three-pros{
    background-color: #E8F7F4;
    width: 100%;
    padding: 50px 0;
  }
  #three-pros-theme{
    text-align: center;
    font-size: 1.5rem;
  }
  #three-pros-intro{
    text-align: center;
    margin-top: 50px;
  }
  #container-three-pros{
    margin: 50px auto 0; 
    width: 75%;
    max-width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #container-three-pros li{
    position: relative;
    display: block;
    width: 12em;
    height: 7.41em;
    border: 2px solid #53c6b4;
    font-size: 1.25rem;
    border-radius: 10px;
    background-color: #fff;
  }
  #container-three-pros li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  #container-three-pros li a{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  #container-three-pros li a span{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 10em;
    font-weight: bold;
  }
  #container-three-pros li::before{
    display: block;
    position: absolute;
    top: 43%;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 9rem;
    color: #E8F7F4;
    text-shadow: 2px 2px 1px #C5EBE5,
                -2px 2px 1px #C5EBE5,
                2px -2px 1px #C5EBE5,
                -2px -2px 1px #C5EBE5;
    font-family: 'Yantramanav', sans-serif;
    z-index: -1;
  }
  #three-pros1::before{
    content: '1';
  }
  #three-pros2::before{
    content: '2';
  }
  #three-pros3::before{
    content: '3';
  }
/* section three-pros end */
  
/* section pros1 start */
  #pro1{
    padding-top: 50px;
    max-width: 1500px;
    margin: 0 auto;
  }
  #container-pro1{
    width: calc(60% - 1em);
    padding: 20px 0.5em 0;
    margin: 0 auto;
  }
  #container-pro1 p{
    width: 100%;
    margin-top: 30px;
  }
  #container-pro1 figure{
    width: 100%;
    max-width: 700px;
    margin: 50px auto 0;
  }
  #container-pro1 figure figcaption{
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
    padding-bottom: 0.5em;
  }
  #pro1-figure1 img{
    width: 100%;
    height: auto;
  }
  #pro1-figure2 img{
    width: 100%;
    height: auto;
  }
/* section pros1 end */
  
/* section pros2 start */
  #pro2{
    padding-top: 50px;
    max-width: 1500px;
    margin: 0 auto;
  }
  #container-pro2{
    width: calc(60% - 1em);
    min-width: 747px;
    padding: 20px 0.5em 0;
    margin: 0 auto;
  }
  #pro2-subtheme{
    margin-top: 30px;
    position: relative;
    display: inline-block;
    font-size: 1rem;
  }
  #pro2-inner{
    padding: 1em 0;
  }
  #roles{
    margin-top: 30px;
  }
  .each-role{
    display: block;
    height: auto;
    overflow: hidden;
  }
  #role2{
    margin-top: 30px;
  }
  .each-role .roles-theme{
    border: 1px solid #53c6b4;
    padding: 0.5em 2em;
    font-weight: bold;
    position: relative;
    overflow: hidden;
  }
  .each-role .roles-theme:before {
    content: '';
    height: 120%;
    width: 3px;
    display:  block;
    position:  absolute;
    left: 15px;
    top: -3px;
    margin:  auto;
    background-color:  #53c6b4;
    -webkit-transform: rotate(5deg);
            transform: rotate(5deg);
}
  .each-role .roles-theme:after {
    content: '';
    height: 120%;
    width: 3px;
    display:  block;
    position:  absolute;
    left: 15px;
    top: -4px;
    margin:  auto;
    background-color:  #53c6b4;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
}
  .each-role .roles-explain{
    background-color: #E8F7F4/*#C5EBE5*/;
    margin-top: 1em;
    padding: 1em 2em;
  }
  .each-role dl{
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .each-role dl div{
    border: 1px dashed #000;
    width: calc(50% - 11px);
    height: auto;
    border-radius: 5px;
    margin: 0 5px 10px;
    padding: 1em;

  }
  .each-role dl div dt{
    font-weight: bold;
  }
  i.webfont-ionicons{
    color: #53c6b4;
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 0.5em;
    margin-left: 0.1em;
  }
  .each-role dl div dd{
    margin-top: 0.5em;
    padding: 0 1em;
  }
/* section pros2 end */
  
  /* section pros3 start */
  #pro3{
    padding-top: 50px;
    max-width: 1500px;
    margin: 0 auto;
  }
  #container-pro3{
    width: calc(60% - 1em);
    min-width: 747px;
    padding: 20px 0.5em 0;
    margin: 0 auto;
  }
  #pro3-intro{
    width: 100%;
    margin-top: 30px;
  }
  #process-of-reputation{
    list-style-position: outside;
    margin: 30px 1.5em 0;
  }
  #container-pro3 figure{
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
  }
  #container-pro3 figure figcaption{
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
    padding-bottom: 0.5em;
  }
  #pro3-figure img{
    width: 100%;
    height: auto;
  }
/* section pros3 end */
/* section pros-career-consulting end */
  
/* section about-career-consultant start */
  #about-career-consultant{
    padding-top: 50px
  }
  #container-about-career{
    width: calc(60% - 20px);
    min-width: 747px;
    max-width: 1080px;
    margin: 50px auto 0;
  }
  #container-about-career-explain{
    margin-top: 50px;
    padding: 2em 2em;
    background-color: #fff/*#E8F7F4*/;
    border: 8px solid #53c6b4;
    box-shadow: 0 0 0 4px #fff inset,
                0 0 0 5px #53c6b4 inset;
  }
  #theme-about-career-explain{
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }
  #container-about-career-explain dl{
    margin-top: 1.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .wrap-about-career-contents{
    border: 1px solid #53c6b4;
    padding: 1em 2em;
    background-color: #E8F7F4;
    margin: 0.5em;
  }
  #container-about-career-explain dl dt{
    margin: 0 0 0.3em;
    font-weight: bold;
    text-align: center;
  }
  #container-about-career-explain dl dd{
    padding: 0 1em;
  }
  #message-about-career-explain{
    margin-top: 1.5em;
    text-align: center;
  }
/* section about-career-consultant end */

/* section contact start */
  /* contact start */

  #contact{
    width: 100%;
    height: 530px;
    margin-top: 65px;
    background-image: url(../img/contents/contact.jpg);
    background-repeat: no-repeat;
    background-size: 1920px 1280px;
    background-position: 72% 60%;
    position: relative;
  }
  #contact h2{
    margin-top: 100px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    
    width: inherit;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.5em;
    color: #000;
    background-color: transparent;
    padding: 0;
    z-index: 100;
  }
  #contact h2 span{
    font-size: 1.5rem;
  }
  #contact-career-message{
    margin-top: 135px;
    padding: 0 1em;
  }
  #contact-message{
    margin-top: 1.5em;
  }
  #contact-button{
    line-height: 1em;
  }
  /* contact end */
/* section contact end */
  
}
