<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="Description" content="株式会社このみちの企業ページです。人類皆が幸せに暮らせる社会をめざして、共に新しい価値ある事業を創造します。人と社会をつなぐ道を共に創造し、人類と世界の豊なる文化・生活に貢献します。">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Contact-Complete | 株式会社このみち</title>
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/style-common.css">
<link rel="stylesheet" href="css/style-common-max1120.css">
<link rel="stylesheet" href="css/style-common-max767.css">
<link rel="stylesheet" href="css/style-contact.css">
<link rel="stylesheet" href="css/style-contact-max1120.css">
<link rel="stylesheet" href="css/style-contact-max767.css">
<link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="logo_02_fit_square.png">
</head>
  
<body id="page-contact">
  <header>
    <div id="header-container">
      <div id="h-left">
        <a href="index.html">
          <img src="img/common/logo_03_fit.png" alt="株式会社このみち　CONOMITI Inc." class="hover-opacity">
        </a>
      </div>
      <div id="h-right">
        <div id="hcontact"><a href="contact.html"><span>お問い合わせ</span></a></div>
      </div>
      <div id="h-center">
        <nav>
          <ul id="nav-container">
            <li class="nav-flex-item"><a href="index.html#service" class="hover-blue underline">事業紹介</a></li>
            <li class="nav-flex-item"><a href="index.html#vision" class="hover-blue underline">企業理念</a></li>
            <li class="nav-flex-item"><a href="index.html#overview" class="hover-blue underline">会社概要</a></li>
            <li class="nav-flex-item"><a href="index.html#logo" class="hover-blue underline">ロゴについて</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  
  <main>
    <div id="page-contact-container">
      <div id="breadcrumbs">
        <ul>
          <li><a href="index.html" class="hover-blue">Top</a></li>
          <li><a href="contact.html" class="hover-blue">お問い合わせ</a></li>
          <li>完了</li>
        </ul>
      </div>
      <div id="contact-form">
        <h1>
          お問い合わせ（送信完了）<br>
          <span>Contact - Complete</span>
        </h1>
        <div id="page-send-contents">
          <p id="send-message">お問い合わせ内容の送信が完了いたしました。<br class="cancel-br-380px">ありがとうございました。</p>
        </div>
        <form action="form.php" method="post" id="form-response">
          <input type="button" value="トップへ戻る" onclick="location.href='!top!';" id="send-submit" class="submit-button">
        </form>
      </div>
    </div>
  </main>
  
  <footer>
    <div id="footer-container">
      <ul id="sitemap">
        <li id="sitemap-info" class="footer-contents">
          <p>会社情報</p>
          <ul>
            <li><a href="index.html#service" class="hover-blue">事業紹介</a></li>
            <li><a href="index.html#vision" class="hover-blue">企業理念</a></li>
            <li><a href="index.html#overview" class="hover-blue">会社概要</a></li>
            <li><a href="index.html#logo" class="hover-blue">ロゴについて</a></li>
          </ul>
        </li>
        <li id="sitemap-services" class="footer-contents">
          <p>事業詳細</p>
          <ul>
            <li><a href="career-consulting.html" class="hover-blue">キャリアコンサルティング</a></li>
            <li><a href="sales-promotion.html" class="hover-blue">セールスプロモーション</a></li>
          </ul>
        </li>
        <li id="sitemap-others" class="footer-contents">
          <p>その他</p>
          <ul>
            <li><a href="privacy-policy.html" class="hover-blue">プライバシーポリシー</a></li>
          </ul>
        </li>
      </ul>
      <div id="footer-company">
        <a href="index.html"><img src="img/common/logo_03_fit.png" alt="株式会社このみち　CONOMITI Inc." class="hover-opacity"></a>
        <address>
          〒[Sorry, it is secret.]<br>
          [Sorry, it is secret.]<br>
          [Sorry, it is secret.]<br>
          <a href="tel:+81-[Sorry, it is secret.]">[Sorry, it is secret.]</a>
        </address>
      </div>
      <p id="copyright">&copy;2019 CONOMITI Inc.</p>
    </div>
    <a href="#page-contact" id="page-top">
      <span></span>
    </a>
  </footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--↓CDNが使えなかったとき用-->
<script>
    (window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>'));
</script>
<script src="js/script.js"></script>
</body>
</html>